$mdc-file-input-border: 1px solid rgba(0, 0, 0, 0.2);
$mdc-file-input-font-size: 14px;
$mdc-file-input-border-style: none;
$mdc-file-input-border-color: unset;
$mdc-file-input-border-radius: 5px;
$mdc-file-input-button-padding: 0.45rem 0.65rem;
