@use 'variables';

.mdc-file-input {
  min-height: 30px;
  border: variables.$mdc-file-input-border;
  border-radius: variables.$mdc-file-input-border-radius;

  .form-file {
    input:not([disabled]) {
      cursor: pointer;
    }

    .form-file-button {
      background: transparent;
      border-style: none;
      padding: variables.$mdc-file-input-button-padding;
    }

    .form-file-text {
      background-color: variables.$mdc-file-input-border-color;
      font-size: variables.$mdc-file-input-font-size;
      border-style: variables.$mdc-file-input-border-style;
      padding: 0.85rem 0.75rem;
    }
  }
}
